Flask==3.0.3
gunicorn==21.2.0
sentence-transformers==2.2.2
langchain
pypdf
python-dotenv
pinecone-client[grpc]
langchain-pinecone
langchain-community
langchain-openai
langchain-experimental
langchain-google-genai
supabase
langchain-cohere
